{% extends 'master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>

<div class="container text-secondary fw-semibold">

  <div class="row">
        <h3>Dashboard</h3>
    </div>
    <!--Overview percentage growth-->
    <div class="row container maas-overview ">
        {% include "./components/percentage-growth.html" with name="Deelfietsen" percentage=0 image="../static/images/bike_darker.svg" color="#696A8F" %}
        {% include "./components/percentage-growth.html" with name="Deelauto's" percentage=0 image="../static/images/car_darker.svg" color="#BD6E6E" %}
        {% include "./components/percentage-growth.html" with name="Deelscooters" percentage=-15 image="../static/images/scooter_darker.svg" color="#739F6F"%}
        {% include "./components/percentage-growth.html" with name="Treinen" percentage=0 image="../static/images/train_dark.svg" color="#D9A134" %}
        {% include "./components/percentage-growth.html" with name="Overig ov" percentage=0 image="../static/images/metro_icon_dark.svg" color="#985F99" %}

    </div>
    <!--Grafieken-->
    <div class="row d-flex container column-gap-3 graph-overview">
        <div class="col-sm-12 col-md-6 col-xl-7 chart ">
            <div class="row header">Grafiek</div>
            <div class="row graph-content m-1 rounded">
                {% if line_graph %}
                <img class="img-fluid rounded" src="data:image/png;base64,{{ line_graph }}" alt="Line Graph">
                {% else %}
                <p>No graph data available.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-xl-4 chart ">
            <div class="row header rounded">Cirkeldiagram</div>
            <div class="row rounded">
                {% if line_graph %}
                <img class="img-fluid rounded" src="data:image/png;base64,{{ circle_chart }}" alt="Cirle Chart">
                {% else %}
                <p>No graph data available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
