{% extends 'master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>

<div class="container text-secondary fw-semibold">
    <div class="row">
        <h3>Dashboard</h3>
    </div>
    <!--Overzicht percentage groei-->
    <!--    #TODO: Change into css file-->
    <div class="row container maas-overview ">
        <div class="col transport-mode">
            <h5 class="maas-mode-text">Deelfietsen</h5>
        </div><div class="col transport-mode">
            <h5 class="maas-mode-text">Deelauto's</h5>
        </div><div class="col transport-mode">
            <h5 class="maas-mode-text">Deelscooters</h5>
        </div><div class="col transport-mode">
            <h5 class="maas-mode-text">Treinen</h5>
        </div><div class="col transport-mode">
            <h5 class="maas-mode-text">Bussen</h5>
        </div>

    </div>
    <!--Grafieken-->
    <div class="row container graph-overview">
        <div class="col chart ">
            <div class="row header">Grafiek</div>
            <div class="row "></div>
        </div>
        <div class="col chart ">
            <div class="row header">Cirkeldiagram</div>
            <div class="row"></div>
        </div>
    </div>
</div>
{% endblock %}
