<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/master.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body >
<div class="row g-0 background-navbar">
    <div class="col-auto side-navbar ">
        <!-- Sidebar -->
        <div class="col container-fluid">
            {% include './navbar/navbar.html' %}
        </div>
    </div>

    <div class="col d-flex flex-column ">
        <div class="row g-0">

            <!-- Top navbar -->
            <div class="top-navbar">
                {% include './navbar/topnavbar.html'%}
            </div>
        </div>
        <div class="row g-0 flex-grow-1">
            <!--Content-->
            <div class="flex-grow-1 content p-3">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>
</div>
</body>
</html>