{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="container-fluid maas-nav">
    <div class="nav-header d-flex align-items-center">
        <div class="beverwijk_logo"></div>
        <div class="fw-bold ml-2 text-wrap pr-2">MaaS Dashboard</div>
    </div>
    <nav class="nav flex-column">
        <div class="head-text">
            <hr>
            <a class="nav-text dashboard " href="/">Dashboard</a>
            <hr>
        </div>
        <div>
            <p class="type-text">MaaS vervoersmiddelen</p>
            <ul class="nav-list">
                <li class="bike_logo"><a class="nav-text " href="/bikes">Deelfietsen</a></li>
                <li class="car_logo"><a class="nav-text " href="/cars">Deelauto's</a></li>
                <li class="scooter_logo"><a class="nav-text " href="/scooters">Deelscooters</a></li>
            </ul>
        </div>
        <div>
            <p class="type-text">OV</p>
            <ul class="nav-list">
                <li class="train_logo"><a class="nav-text " href="/trains">Treinen</a></li>
                <li class="bus_logo"><a class="nav-text " href="/busses">Bussen</a></li>
            </ul>
        </div>
    </nav>
</div>
