{% load static %}
<link rel="stylesheet" href="{% static 'css/topnavbar.css' %}">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid align-middle ">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--    Search bar    -->
            <div class="input-group mb-2 mt-2 mb-lg-0">
                <div class="form-outline">
                    <input type="search" id="search-form" placeholder="Zoek..."
                           class="form-control rounded-0 rounded-start"/>
                </div>
                <button class="btn search-button">
                    <img src="../static/images/search_icon.svg"/>
                </button>
            </div>
            <ul class="navbar-nav me-auto mb-lg-0">
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link active" aria-current="page" href="/">Home</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">Link</a>-->
                <!--                </li>-->
                <div class="vr"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <!-- #TODO: make it the name of the logged in user-->
                        Jane Doe
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Instellingen</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item fw-semibold" href="#">Uitloggen</a></li>
                    </ul>
                </li>
                <!-- Profile picture -->
                <li class="">
                    <a class="nav-link" href="/users">
                        <img src="../static/images/user_icon.svg"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>