.maas-overview {
    column-gap: 3em;
    row-gap: 3em;
    margin-bottom: 3em;
}

.graph-overview {
    column-gap: 3em;
}

.transport-mode {
    padding-top: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background: #F0F0F0;
}

.maas-mode-text {
    font-size: medium;
}

.percentage {
    font-weight: bold;
}

.chart {
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background: #F0F0F0;
}

.chart > .header {
    padding-left: 1em;
}
