<div class="col-sm-5 col-md-3 col-xl transport-mode">
    <div class="row p-1">
        <div class="col container-fluid first-column-percentage">
            <h5 class="row maas-mode-text">{{name}}</h5>
            <div class="row container-fluid align-center text-nowrap">
                <h3>{{percentage}}%
                    {% if percentage > 0 %}
                    <img class=" img-fluid" src="../../static/images/arrow_up.svg" alt="arrow up"/>
                    {% else %}
                    <img class="img-fluid" src="../../static/images/arrow_down.svg" alt="arrow down"/>
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center text-center">
            <img class="img-fluid" alt="logo" src="{{image}}"/>
        </div>
    </div>
</div>