.maas-overview {
    column-gap: 3em;
    row-gap: 3em;
    margin-bottom: 3em;
    justify-content: space-around;
}

.graph-overview {
    column-gap: 3em;
    flex-grow: 1;
    justify-content: space-between;
}

.transport-mode {
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background: #F0F0F0;
}

.maas-mode-text {
    font-size: medium;
    padding-left: 1em;
}

.percentage {
    font-weight: bold;
}

.chart {
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background: #D9DCE1;
}

.chart > .header {
    padding-left: 1em;
}

.first-column-percentage {
    display: flex;
    flex-direction: column;

}

.first-column-percentage > .maas-mode-text {
    display: flex;
    flex-direction: row;
}

.graph-content {
    background: #f0f0f0;
    margin-bottom: 1em;
}