{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="container-fluid maas-nav min-vh-100">
    <div class="nav-header d-flex align-items-center">
        <div class="beverwijk_logo"></div>
        <div class="fw-bold ml-2 text-wrap pr-2">MaaS Dashboard</div>
    </div>
    <nav class="nav flex-column h-100">
        <div class="head-text">
            <hr>
            <a class="nav-text dashboard " href="/">Dashboard</a>
            <hr>
        </div>
        <div>
            <p class="type-text">MaaS vervoersmiddelen</p>
            <ul class="nav-list">
                <li class="bike_logo"><a class="nav-text " href="/deelfietsen">Deelfietsen</a></li>
                <li class="car_logo"><a class="nav-text " href="/deelautos">Deelauto's</a></li>
                <li class="scooter_logo"><a class="nav-text " href="/deelscooters">Deelscooters</a></li>
            </ul>
        </div>
        <div>
            <p class="type-text">OV</p>
            <ul class="nav-list">
                <li class="train_logo mb-2"><a class="nav-text " href="/treinen">Treinen</a></li>
                <li class="other-ov"><a class="nav-text " href="/overig-ov">Overig ov</a></li>
            </ul>
               <hr>
            <ul>
                <li>
                    <a class="nav-text " href="/enquete">Enquete</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
