{% extends "master.html" %}
{% load static %}

{% block title %}
    Deelauto's
{% endblock %}

{% block content %}
<div class="container">
<h4 class="text-secondary">Deelauto's</h4>
<h5 class="text-secondary">Overzicht van de elekstrische laadpalen in Gemeente Beverwijk</h5>
<iframe src="https://editor.giscloud.com/rest/1/maps/2583648/render.iframe?bound=508592.8769524917,6884606.700617524,523268.78638324514,6891390.486877834&toolbar=true&popups=true&search=true" width="100%" height="600" frameborder="0"></iframe>
</div>
{% endblock  %}